<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Us Weather</h1>
      <div class="actions">
        <a [ngClass]="animateOnRouteEnter"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          Forecasts
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="animateOnRouteEnter">
          Radar
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="animateOnRouteEnter">
          <i class="fa fa-gear"></i> Change Theme
        </a>
        <br>
        <span [ngClass]="animateOnRouteEnter">or check blogs about</span>
        <br>
        <a mat-raised-button
           [ngClass]="animateOnRouteEnter"
           target="_blank"
           href="#">
          <i class="fa fa-medium"></i> Button
        </a>
        <a mat-raised-button
           [ngClass]="animateOnRouteEnter"
           target="_blank"
           href="#">
          <i class="fa fa-medium"></i> Button
        </a>
        <a mat-raised-button
           [ngClass]="animateOnRouteEnter"
           target="_blank"
           href="#">
          <i class="fa fa-medium"></i> Button
        </a>
        <a mat-raised-button
           [ngClass]="animateOnRouteEnter"
           target="_blank"
           href="#">
          <i class="fa fa-medium"></i> Button
        </a>
      </div>
      <div class="get-started" [ngClass]="animateOnRouteEnter">
        <h2>Getting started</h2>
        das
      </div>
    </div>
  </div>
</div>
